@import "src/@pristinebase/scss/pristine";

#RoleMaster {
  .headofcard {
    padding-left: 10px;
    padding-right: 10px;
  }

  .childrenClass {
    margin-left: 80px;
    padding: 5px 5px;
  }

  .mat-checkbox-disabled .mat-checkbox-label {
    color: #000000 !important;
    font-weight: 600;
  }

  .mat-checkbox-disabled .mat-checkbox-background {
    background-color: #2ca9f5;
  }

}
