<h1 matDialogTitle>{{confirmMessage}}</h1>
<div fxLayoutAlign="center" mat-dialog-actions>
    <div fxFlex fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>{{selectFieldMessage}}</mat-label>
            <mat-select #selectField>
                <mat-option *ngFor="let item of dropdowndata" [value]="item.zone">
                    {{item.zone}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{inputFieldMessage}}</mat-label>
            <input #inputValue [placeholder]="inputFieldMessage" matInput>
        </mat-form-field>

        <div fxLayout="row">
            <button (click)="dialogRef.close({condition:true,inputfield:inputValue.value,selectField:selectField.value})"
                    class="mat-accent mr-16"
                    mat-raised-button>Add
            </button>
            <button (click)="dialogRef.close({condition:false})" color="warn" mat-raised-button>Cancel</button>
        </div>
    </div>

</div>

