<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="Viewpurchase">
    <div class="content p-20" pristinePerfectScrollbar>
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
            <div class="mat-card mat-elevation-z1 " fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">
                <div class="h4 mb-8 p-16" style="background-color: rgba(255,192,203,0.73)">
                    <p>Support Contact</p>
                </div>
                <div class="p-16">
                    <b style="font-size: 16px;">Zivame was founded in 2011 with the vision of helping women uninhibitedly shop for intimate wear. Along the way, we saw the power of this idea and how it helped women break norms.
                        Now we’re taking it ahead and investing in a community that’s influencing women in different ways. From our online-offline stores to our new category launches, all our innovations are driven by ideas that weren’t thought of before.
                    </b><br> <br> <p style="font-size: 20px;"> Monday To Friday 10:00 AM To 7:00 PM <br><br>
                    <mat-icon style="font-size: 25px;" aria-hidden="true">phone</mat-icon> &nbsp;&nbsp;
                    <span style="font-size: 25px;">----------</span><br>
                    <mat-icon style="font-size: 25px;" aria-hidden="true">mail</mat-icon>&nbsp;&nbsp;<span  style="font-size: 20px">tech@zivame.com</span>
                </div>
            </div>
        </div>
    </div>
</div>
