<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="allPurchaseLine">
    <div class="content pl-20 pr-20 pt-20">
        <div  fxLayout="column" fxLayoutAlign="start">
            <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">
                <div fxLayout="column" style=" z-index: 10">
                    <div class="h4 mb-4 p-16" style="background-color: rgba(255,192,203,0.73)"  >
                        View Purchase Order ( <b style="color: red">{{ po_detail?.purchaseOrderNo }}</b> ) ( <b
                            style="color: red">{{ po_detail?.locationCode }}</b> )
                        <button (click)="DownloadPurchaseOrder()" mat-icon-button matTooltip="Download Purchase Order"
                                style="margin-left:10px;margin-top: -10px;float:right;background-color:#ffffff;box-shadow: 1px 1px 1px 1px #ffffff">
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                    </div>
                    <div class="p-8" fxLayout="row" fxFlex="100" fxLayoutGap="5%">
                        <mat-form-field appearance="outline" fxFlex="40">
                            <mat-label>Remarks</mat-label>
                            <input appearance="outline" [formControl]="remarks" matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="25">
                            <mat-label>Total Re Print</mat-label>
                            <input appearance="outline" [formControl]="total_reprint" matInput readonly>
                        </mat-form-field>
                        <button class="p-4" (click)="reprint()" mat-raised-button color="accent" style="height: 25%"
                                fxFlex="15">
                            <mat-icon>print</mat-icon>&nbsp;&nbsp;Re Print
                        </button>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>

    <div class="content pl-20 pr-20" pristinePerfectScrollbar>
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
            <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">
                <div class="p-8" fxFlex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start">
                    <div fxFlex="100" fxLayout="column">
                        <div class="example-container">
                            <table mat-table matSort [dataSource]="dataSource">
                                <ng-container [stickyEnd]="column=='View'" *ngFor="let column of displayColumn"
                                              [matColumnDef]="column">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <div class="filterHeader">
                                            <b mat-sort-header *ngIf="column!='description' && column!='customeTolerance' &&
                                             column!='rePrint' && column!='additionalBarcodePrint' &&
                                             column!='barcodePrinted' && column!='remainingBarcodeWithTolerance' &&
                                             column!='remainingBarcodeWithoutTolerance'">{{column|firstAnd_Split}}</b>
                                            <b mat-sort-header style="width: 200px" *ngIf="column=='description'">Item
                                                Name</b>
                                            <b mat-sort-header *ngIf="column=='customeTolerance'">Max Tolerance</b>
                                            <b mat-sort-header *ngIf="column=='rePrint'">Re Print</b>
                                            <b mat-sort-header *ngIf="column=='additionalBarcodePrint'">Additional
                                                Barcode Print</b>
                                            <b mat-sort-header *ngIf="column=='barcodePrinted'">Barcode Printed</b>
                                            <b mat-sort-header *ngIf="column=='remainingBarcodeWithTolerance'">Rem
                                                Barcode With Tolerance</b>
                                            <b mat-sort-header *ngIf="column=='remainingBarcodeWithoutTolerance'">Rem
                                                Barcode Without Tolerance</b>
                                            <br>
                                            <input (keyup)="applyFilter($event.target.value,column)"
                                                   *ngIf="column!='description' && column!='customeTolerance' &&
                                                     column!='rePrint' && column!='additionalBarcodePrint' &&
                                                     column!='barcodePrinted' && column!='remainingBarcodeWithTolerance' &&
                                                     column!='remainingBarcodeWithoutTolerance';else elseblockheader"
                                                   [placeholder]="column|firstAnd_Split">
                                            <ng-template #elseblockheader>
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column=='description';"
                                                       [placeholder]="'Item Name'">
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column=='customeTolerance';"
                                                       [placeholder]="'Max Tolerance'">
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column=='rePrint';"
                                                       [placeholder]="'Re Print'">
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column=='additionalBarcodePrint';"
                                                       [placeholder]="'Additional Barcode Print'">
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column=='barcodePrinted';"
                                                       [placeholder]="'Barcode Printed'">
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column=='remainingBarcodeWithTolerance';"
                                                       [placeholder]="'Remaining Barcode With Tolerance'">
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column=='remainingBarcodeWithoutTolerance';"
                                                       [placeholder]="'Remaining Barcode Without Tolerance'">
                                            </ng-template>
                                        </div>
                                    </th>
                                    <td mat-cell *matCellDef="let element; let i = index">
                                        <p *ngIf="column!='rePrint' && column!='description' ;else elseblock">{{element[column]}}</p>
                                        <ng-template #elseblock>
                                            <div class="filterHeader">
                                                <input *ngIf="column=='rePrint'" placeholder="0" type="number"
                                                       [(ngModel)]="element[column]"
                                                       (keyup)="rePrint_barcode(i)"/>
                                            </div>
                                            <p style="width: 200px"
                                               *ngIf="column=='description'">{{element[column]}}</p>
                                        </ng-template>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayColumn;"></tr>
                            </table>
                        </div>
                        <b style="padding: 5px" *ngIf="dataSource?.data?.length==0">No Record Found.</b>
                        <mat-paginator [pageSizeOptions]="[5,10, 20, 50,100]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
