<div fxFlex fxLayout="column" fxLayoutAlign="start">
    <div mat-dialog-title style="margin-top: -45px">
        <h5>Create User
            <mat-icon (click)="cancle()" style="float: right;margin-top:5px;cursor: pointer">cancel</mat-icon>
        </h5>
        <div fxLayout="column" fxLayoutAlign="start" style="margin-top: -10px;">
            <mat-divider></mat-divider>
        </div>
    </div>
    <div fxLayout="row wrap" mat-dialog-content>
        <form [formGroup]="registerForm" name="registerForm" novalidate>
            <div class="pl-8" fxFlex fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="25px">
                <div fxFlex="45">
                    <mat-form-field appearance="outline" style="width:100%!important;">
                        <mat-label>Name</mat-label>
                        <input autocomplete="false" formControlName="name" matInput>
                        <mat-icon class="secondary-text" matSuffix>account_circle</mat-icon>
                        <mat-error>
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="45">
                    <mat-form-field appearance="outline" style="width:100%!important;">
                        <mat-label>Email</mat-label>
                        <input autocomplete="false" formControlName="email" matInput>
                        <mat-icon class="secondary-text" matSuffix>mail</mat-icon>
                        <mat-error *ngIf="registerForm.get('email').hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="45">
                    <mat-form-field appearance="outline" style="width: 100%!important;">
                        <mat-label>User Role</mat-label>
                        <mat-select formControlName="roll_id">
                            <mat-option value="">None</mat-option>
                            <mat-option *ngFor="let rol of AllRoleDetail"
                                        [value]="rol.role_id">{{rol.role_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="registerForm.get('roll_id').hasError('required')">
                            User Roll is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="45">
                    <mat-form-field appearance="outline" style="width: 100%!important;">
                        <mat-label>Work Type</mat-label>
                        <mat-select formControlName="work_type">
                            <mat-option value="">None</mat-option>
                            <mat-option *ngFor="let work of worktype" [value]="work">{{work}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="registerForm.get('roll_id').hasError('required')">
                            User Roll is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="45">
                    <mat-form-field appearance="outline" style="width:100%!important;">
                        <mat-label>Password</mat-label>
                        <input autocomplete="false" formControlName="password" matInput type="password">
                        <mat-icon class="secondary-text" matSuffix>vpn_key</mat-icon>
                        <mat-error>
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="45">
                    <mat-form-field appearance="outline" style="width:100%!important;">
                        <mat-label>Password (Confirm)</mat-label>
                        <input autocomplete="false" formControlName="passwordConfirm" matInput type="password">
                        <mat-icon class="secondary-text" matSuffix>vpn_key</mat-icon>
                        <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
                            Password confirmation is required
                        </mat-error>
                        <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                                       registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                            Passwords must match
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>

        <div class="pl-8" fxFlex fxLayout="column" fxLayoutAlign="start">
            <div fxFlex>
                <button (click)="CreateUser()" [disabled]="registerForm.invalid" aria-label="CREATE AN ACCOUNT"
                        color="warn"
                        mat-raised-button
                        style="width: 45%">
                    CREATE AN ACCOUNT
                </button>
            </div>
        </div>
    </div>
</div>




