@import "src/@pristinebase/scss/pristine";

.myCustomeclassFoeUserLoginSection {
  //max-height: 512px;
  //overflow: auto;
  mat-list-item {
    height: auto;

    p {
      font-size: 12px !important;
      //padding-bottom: 10px;
      //font-weight: 400;
    }

    mat-icon {
      //font-size: 15px;
    }

    .secondary-text {
      //font-size: 15px!important;
    }
  }


}
.logout_section {
  cursor: pointer;
  margin-left: 8px;
  p {
    cursor: pointer;
  }
}

toolbar {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;

  &.below {
    z-index: 2;
  }

  .mat-toolbar {
    position: relative;
    background: inherit !important;
    color: inherit !important;
    background-color: #FFFFFF !important;
  }

  .logo {
    display: flex;
    align-items: center;

    .logo-icon {
      width: 38px;
    }
  }

  .user-button,
  pristine-search-bar,
  .language-button,
  .chat-panel-toggle-button,
  .quick-panel-toggle-button {
    min-width: 64px;
    height: 64px;

    @include media-breakpoint('xs') {
      height: 56px;
    }
  }

  .navbar-toggle-button {
    min-width: 56px;
    height: 56px;
  }

  .toolbar-separator {
    height: 64px;
    width: 1px;

    @include media-breakpoint('xs') {
      height: 56px;
    }
  }

  .myserchmenu {
    //border: solid 1px black;
    width: 80%;
    height: 100%;
    margin-top: 20px;
    text-align: center;
    //.mat-form-field-appearance-outline .mat-form-field-outline {
    //
    //}
    ///* Font color */
    input.mat-input-element {
      margin-bottom: 10px;
      padding-right: 20px;
    }

    mat-icon {
      margin-bottom: 5px !important;
      margin-left: -20px;
    }

    mat-form-field {
      width: 60%;
    }

    .mat-form-field-flex > .mat-form-field-infix {
      padding: 3px 0px !important;
    }

    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: #545557;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
      color: #c2c5ca !important;
      box-shadow: 0 0 5px rgba(33, 33, 33, .2);
    }
  }
}
