<div class="dialog-content-wrapper" >
    <mat-toolbar style="background-color: #FFFFFF;margin-top: -20px">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" >Create Admin User</span>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <!-- HORIZONTAL STEPPER EXAMPLE -->
    <div class="shelf-content">
        <br>
        <form>
            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="ml-sm-12" fxFlex>
                    <mat-label>Code</mat-label>
                    <input matInput [formControl]="code"/>
                </mat-form-field>
            </div>
            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="ml-sm-12" fxFlex>
                    <mat-label>Name</mat-label>
                    <input matInput [formControl]="name" />
                </mat-form-field>
            </div>
            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="ml-sm-12" fxFlex>
                    <mat-label>Phone No</mat-label>
                    <input matInput type="number" [formControl]="phoneno" />
                </mat-form-field>
            </div>
            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="ml-sm-12" fxFlex>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" [formControl]="email" />
                </mat-form-field>
            </div>
            <button style="float: right" (click)="OnCreate()" mat-raised-button color="accent"> Create</button>
        </form>
    </div>
</div>

