<div class="dialog-content-wrapper" id="discountModel">
    <mat-toolbar style="background-color: #FFFFFF;margin-top: -20px">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" *ngIf="data.flag=='create'" >New Password Creation</span>
            <span class="title dialog-title" *ngIf="data.flag=='forget'" >Forget Password</span>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <!-- HORIZONTAL STEPPER EXAMPLE -->
    <div class="shelf-content">
        <br>
        <form>
            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="ml-sm-12" fxFlex>
                    <mat-label>One Time Password</mat-label>
                    <input matInput [formControl]="otp_password"/>
                </mat-form-field>
            </div>
            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="ml-sm-12" fxFlex>
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" (keydown)="check_space_key($event)" [formControl]="password" />
                    <mat-error *ngIf="password.value.length < 4">Password Must Be Greater Than Four Characters</mat-error>
                </mat-form-field>
            </div>
            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="ml-sm-12" fxFlex>
                    <mat-label>Re-Password</mat-label>
                    <input matInput type="password" (keydown)="check_space_key($event)" [formControl]="re_password"/>
                    <mat-error *ngIf="password.value != re_password.value">Password Not Matched</mat-error>
                </mat-form-field>
            </div>
            <button style="float: right" [disabled]="password.value != re_password.value ? true : false" (click)="OnSubmitHit()" mat-raised-button color="accent"> SUBMIT</button>
        </form>
    </div>
</div>

