<div fxLayout="column" id="reset-password">

    <div fxLayout="column" fxLayoutAlign="center center" id="reset-password-form-wrapper">

        <div [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" id="reset-password-form">

            <div class="logo">
                <img src="assets/images/logos/mylogo.png">
            </div>

            <div class="title">RESET YOUR PASSWORD</div>

            <form [formGroup]="resetPasswordForm" name="resetPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput>
                    <mat-icon class="secondary-text" matSuffix>mail</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput type="password">
                    <mat-icon class="secondary-text" matSuffix>vpn_key</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password (Confirm)</mat-label>
                    <input formControlName="passwordConfirm" matInput type="password">
                    <mat-icon class="secondary-text" matSuffix>vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button [disabled]="resetPasswordForm.invalid" aria-label="RESET MY PASSWORD" class="submit-button"
                        color="accent" mat-raised-button>
                    RESET MY PASSWORD
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a [routerLink]="'/pages/auth/login'" class="link">Go back to login</a>
            </div>

        </div>

    </div>

</div>
