<h1 matDialogTitle>{{confirmMessage}}</h1>
<p *ngIf="optionalField" style="color: red">Below field are only for PPMP.</p>
<div fxLayoutAlign="center" mat-dialog-actions>
    <div fxFlex fxLayout="column">
        <div fxFlex fxLayout="row" fxLayoutGap="10px">

            <mat-form-field appearance="outline" [fxShow]="optionalField==true"  fxFlex="20" (autocomplete)="false">
                <mat-label>{{optionalInputFieldMessage}}</mat-label>
                <input type="number" [value]="'0'" #OptionalValue [placeholder]="optionalFieldMessage" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" [fxFlex]="optionalField==true?80:100" (autocomplete)="false">
                <mat-label>{{inputFieldMessage}}</mat-label>
                <input  #inputValue [placeholder]="inputFieldMessage" matInput>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <button [disabled]="optionalField==true && OptionalValue.value==''" (click)="dialogRef.close({condition:'true',message:inputValue.value,optional:OptionalValue.value})" class="mat-accent mr-16"
                    mat-raised-button>{{addbutton}}
            </button>
            <button (click)="dialogRef.close(false)" color="warn" mat-raised-button>Cancel</button>
        </div>
    </div>

</div>

