<div fxLayout="column" id="forgot-password">

    <div fxLayout="column" fxLayoutAlign="center center" id="forgot-password-form-wrapper">

        <div [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" id="forgot-password-form">

            <div class="logo">
                <img src="assets/images/logos/mylogo.png">
            </div>

            <div class="title">RECOVER YOUR PASSWORD</div>

            <form [formGroup]="forgotPasswordForm" name="forgotPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput>
                    <mat-icon class="secondary-text" matSuffix>mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <button [disabled]="forgotPasswordForm.invalid" aria-label="SEND RESET LINK" class="submit-button"
                        color="accent" mat-raised-button>
                    SEND RESET LINK
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a [routerLink]="'/pages/auth/login'" class="link">Go back to login</a>
            </div>

        </div>

    </div>

</div>
