<div fxLayout="column" id="maintenance">

    <div fxLayout="column" fxLayoutAlign="center center" id="maintenance-form-wrapper">

        <div [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" id="maintenance-form">

            <div class="logo">
                <img src="assets/images/logos/mylogo.png">
            </div>

            <div class="title">Closed for scheduled maintenance!</div>

            <div class="subtitle">
                We're sorry for the inconvenience. <br> Please check back later.
            </div>

        </div>

    </div>

</div>
