<div fxLayout="column" id="mail-confirm">

    <div fxLayout="column" fxLayoutAlign="center center" id="mail-confirm-form-wrapper">

        <div [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" id="mail-confirm-form">

            <div class="logo">
                <mat-icon class="mat-accent s-96">email</mat-icon>
            </div>

            <div class="title">Confirm your email address!</div>

            <div class="subtitle">
                <p>
                    A confirmation e-mail has been sent to <b>example@mymail.com</b>.
                </p>
                <p>
                    Check your inbox and click on the "Confirm my email" link to confirm your email address.
                </p>
            </div>

            <div class="message">
                <a [routerLink]="'/pages/auth/login'" class="link">Go back to login page</a>
            </div>

        </div>

    </div>

</div>
